/*top nav*/

.title {
  position: absolute;
  width: 100%;
  text-align: left;
  top: 0;
  left: 0;
  padding-bottom: 1%;
}

.title-name {
  font-family: 'Roboto', sans-serif;
  font-size: 2rem;
  color: #989898;
}

.title a {
  padding-left: 2%;
  text-decoration: none;
  font-size: 1rem;
  color: #989898;
  -webkit-transition: font-size 1s;
  transition: font-size 1s;
}

.title a:hover {
  font-size: 2rem;
}

.clearfix {
    display: none;
    overflow: auto;
}

.img2 {
    float: right;
}

#emoji-details {
  display: none;
}

#clean-app-details {
  display: none;
}

#notes-map-details {
  display: none;
}

.slides {
  position: fixed;
  bottom: 10%;
  height: 30%;
  width: 100%;

}

.icon {
  position: absolute;
  height: 90%;
  width: 20%;
  border: 1px solid #989898;

}
#emoji-icon {
  background: url("./images/emoji_escape.png");
  margin-left: 10%;
  background-size: cover;
}

#clean-app-icon {
  background: url("./images/clean_app.png");
  margin-left: 40%;
  background-size: cover;
}

#notes-map-icon {
  background: url("./images/notes_map.png");
  margin-left: 70%;
  background-size: cover;
  background-repeat: no-repeat;
}
/*slideshow*/
/*.slideshow {
  position: absolute;
  height: 30%;
  width: 30%;
  top: 50%;
  margin: 0 auto;

}*/
