body {
      font: 20px Montserrat, sans-serif;
      line-height: 1.8;
      color: #f5f6f7;
  }
  p {
    font-size: 16px;
  }
  .margin {
    margin-bottom: 45px;
  }
  .profile {
      background-color: #3399FF;
      color: #ffffff;
  }
  .about {
      background-color: #2c3e50;
      color: #ffffff;
  }
  .projects {
      background-color: #ffffff;
      color: #555555;
  }
  .footer {
      background-color: #2c3e50;
      color: #fff;
  }
  .container-fluid {
      padding-top: 70px;
      padding-bottom: 70px;
  }
  .navbar {
      padding-top: 15px;
      padding-bottom: 15px;
      border: 0;
      border-radius: 0;
      margin-bottom: 0;
      font-size: 12px;
      letter-spacing: 5px;
  }
  .navbar-nav  li a:hover {
      color: #1abc9c !important;
  }
